[[source]]
name = "kakao"
url = "https://mirror.kakao.com/pypi/simple"
verify_ssl = false

[packages]
django = "==4.0.6"
gunicorn = "==20.1.0"
django-environ = "==0.9.0"
psycopg2-binary = "==2.9.3"
djangorestframework = "==3.13.1"
dj-rest-auth = "==2.2.5"
django-allauth = "==0.51.0"
djangorestframework-simplejwt = "==5.2.0"
drf-yasg = "==1.21.3"
django-cors-headers = "==3.13.0"
django-guid = "==3.3.0"
pillow = "==9.2.0"
drf-writable-nested = "==0.6.4"
django-jazzmin = "==2.5.0"
django-extensions = "==3.2.0"
django-filter = "==22.1"
docutils = "==0.19"
django-silk = "==5.0.1"

[dev-packages]
pre-commit = "==2.20.0"
flake8 = "==4.0.1"
pyparsing = "==3.0.9"
pydot = "==1.4.2"

[requires]
python_version = "3.10"
