[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-environ = "*"
psycopg2-binary = "*"
djangorestframework = "*"
dj-rest-auth = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pre-commit = "*"
flake8 = "*"

[requires]
python_version = "3.10"
